@model IEnumerable<ProductsViewModel>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/ProductsStyle.css">
</head>


<br/>
<h2>Заповядайте в нашия магазин</h2>

<br />
<br />
<div class="products-container">
@foreach (var product in Model)
{
    var imgPath = "/Images/Products/" + (@product.ImageTitle + ".png");
    <div class="product">
        <img src="@imgPath" alt="@product.ProductName">
        <div class="product-info">
            <h3>@product.ProductName</h3>
            <p>@product.Price.ToString("C")</p>
            <a asp-action="ProductPage" asp-route-id="@product.Id" class="view-button">Виж</a>
            <div class="size-buttons">
                @if (product.SizeS)
                {
                    <button class="size-button" disabled>S</button>
                }
                @if (product.SizeM)
                {
                    <button class="size-button" disabled>M</button>
                }
                @if (product.SizeL)
                {
                    <button class="size-button" disabled>L</button>
                }
                @if (product.SizeXL)
                {
                    <button class="size-button" disabled>XL</button>
                }
            </div>
        </div>
    </div>
}
</div>
@section Scripts{
    <script>
        $('.product').hover(function () {
            $(this).find('.product-info').toggleClass('active');
        });
    </script>

}